.header {
  padding: 10px;
  background-color: purple;
  color: white;
}
.headerTitle {
  text-decoration: none;
  color: white;

  font-size: 25px;
  &:hover {
    color: coral;
  }
}
.logo {
  fill: white;
  margin-right: 20px;
  &:hover {
    fill: coral;
  }
}
