.shop {
  display: flex;
  flex-direction: column;
}
.body {
  display: flex;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex: 1;
  align-items: center;
}
.footer.container {
  justify-content: center;
}
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: purple;
}
.item {
  display: flex;
  align-items: flex-start;
  text-align: center;
  margin-bottom: 20px;
}
.item-name {
  font-weight: bold;
}

.img {
  display: block;
  width: 300px;
}
.MuiSvgIcon-root.addShoppingIcon {
  font-size: 3rem;
  fill: black;
}
.MuiIconButton-label:hover .MuiSvgIcon-root.addShoppingIcon {
  fill: purple;
}
